/* You can add global styles to this file, and also import other style files */
@import '@/assets/layout/layout.scss';
@import 'primeicons/primeicons.css';
@import '@/assets/demo/demo.scss';

// @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
.logo-font {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
// .logo-font {
//   font-family: "Nabla", system-ui;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings:
//     "EDPT" 100,
//     "EHLT" 12;
//   }
  